:root {
  /* mainList */
  --button-size: 60px;
  --mainSlider-width: 400vw;
  --anim: 0.5s;
  --btns-top: 50%;
  --btns-padding: 20px;
  --img-size: 100vw;

  /* signatureItem */
  --signatureItem-top: 20px;
  --signatureTitle-bottom: 20px;
  --signatureslide-rigth: 30px;
  --signatureslide-width: 300px;

  /* search */
  --search-heigth: 70px;
  --searchInner-width: 300px;
  --searchInner-height: 40px;
  --searchBtn-size: 20px;
  --searchBtn-right: 20px;
  --link-height: 40px;
  --link-a-right: 20px;

   /* side */
   --sideNavInner-top: 30px;
   --sideNavInner-height: 40px;    
   --side-width: 80%;
   --side-li-right: 40px;
   --close-buttion-i-size: 25px;
   --close-botton: 20px;
   --close-padding-right: 40px 
   --sideMenu-top: 100px;
   --sideMenuInner-width: 85%;
   --sideMenuInner-li-bottom: 10px;
   --sideLinks-top:40px;
   --sideLinks-a-width: 85%;
   --sideLinks-a-bottom: 10px;
   --sidebar-left: -100vw;
   --sideSubMenu-li-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
  font-size: var(--button-size);
  cursor: pointer;
}

/* 메인 리스트 시작 */

.mainContent {
  position: relative;
  overflow: hidden;
}

.mainSlider {
  width: var(--mainSlider-width);
  transition: var(--anim);
}

.prev,
.next {
  position: absolute;
  top: var(--btns-top);
  cursor: pointer;
}

.prev {
  left: var(--btns-padding);
}

.next {
  right: var(--btns-padding);
}

.mainSlider {
  display: flex;
}

.mainSlider li a img {
  width: var(--img-size);
}

/* 메인 리스트 끝 */

/* signatureItem 시작 */
.signatureItem {
  margin-top: var(--signatureItem-top);
  position: relative;
  overflow: hidden;
}

.signatureTitle {
  text-align: center;
  padding-bottom: var(--signatureTitle-bottom);
}

.signatureSlide {
  display: flex;
  left: 0;
  top: 0;
  transition: var(--anim) ease-out;
}

.signatureSlide li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--signatureslide-rigth);
  width: var(--signatureslide-width);
}

.signatureSlide>li:last-child {
  margin-right: 0;
}

.signatureItem button {
  color: red;
}

.price {
  text-decoration: line-through;
}

.sale {
  color: blue;
}

/* signatureItem 끝 */

/* suggestItem 시작 */
.suggestItem {
  margin-top: var(--signatureItem-top);
  position: relative;
  overflow: hidden;
}

.suggestTitle {
  text-align: center;
  padding-bottom: var(--signatureTitle-bottom);
}

.suggestSlide {
  display: flex;
  left: 0;
  top: 0;
  transition: var(--anim) ease-out;
}

.suggestSlide li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--signatureslide-rigth);
  width: var(--signatureslide-width);
}

.suggestItem button {
  color: red;
}

.info {
  text-align: center;
}

/* suggestItem 끝 */

/* footer 시작*/

.search {
  width: 100%;
  height: var(--search-heigth);
}
.searchInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--searchInner-width);
  height: var(--searchInner-height);
  position: relative;
  margin: 0 auto;
}

.searchText {
  width: 100%;
  height: 100%;
}

.searchBtn {
  font-size: var(--searchBtn-size);
  position: absolute;
  right: var(--searchBtn-right);
}

.link {
  display: flex;
  justify-content: center;
  height: var(--link-height);
}

.link a {
  padding-right: var(--link-a-right);
}

.sideBarNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: beige;
}

.sideNavInner {
  position: relative;
  top: var(--sideNavInner-top);
  height: var(--sideNavInner-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side {
  width: var(--side-width);
  display: flex;
  margin: 0 auto;
}


.side li {
  padding-right: var(--side-li-right);
}

.nav {
  z-index: 1;
}

.close button i {
  font-size: var(--close-buttion-i-size);
}

.close {
  margin-bottom: var(--close-botton);
  padding-right: var(--close-padding-right);
}

.sideMenu {
  position: fixed;
  top: 100px;
  width: 100%;
}

.sideMenuInner {
  width: var(--sideMenuInner-width);
  margin: 0 auto;
}

.sideMenuInner li {
  padding-bottom: var(--sideMenuInner-li-bottom);
}

.sideLinks {
  margin-top: var(--sideLinks-top);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sideLinks a {
  width: var(--sideLinks-a-width);
  margin: 0 auto;
  padding-bottom: var(--sideLinks-a-bottom);
}

.sideMenuInner li:hover {
  color: blue;
  cursor: pointer;
}

.sideBar {
  position: relative;
  left: var(--sidebar-left);
  z-index: 99;
  transition: 0.8s ease-out;
}

.sideSubMenu li {
  padding-bottom: 0;
  padding-top: var(--sideSubMenu-li-top);
}

.sideSubMenu {
  height: 0;
  overflow: hidden;
}

.mainMenu {
  color: red;
}
