:root {
  /* mainList */
  --button-size: 60px;
  --mainSlider-width: 400vw;
  --anim: 0.5s;
  --btns-top: 50%;
  --btns-padding: 20px;
  --img-size: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
  font-size: var(--button-size);
  cursor: pointer;
}

/* 메인 리스트 시작 */

.mainContent {
  position: relative;
  overflow: hidden;
}

.mainSlider {
  width: var(--mainSlider-width);
  transition: var(--anim);
}

.prev,
.next {
  position: absolute;
  top: var(--btns-top);
  cursor: pointer;
}

.prev {
  left: var(--btns-padding);
}

.next {
  right: var(--btns-padding);
}

.mainSlider {
  display: flex;
}

.mainSlider li a img {
  width: var(--img-size);
}

/* 메인 리스트 끝 */

/* signatureItem 시작 */
.signatureItem {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.signatureTitle {
  text-align: center;
  padding-bottom: 20px;
}

.signatureSlide {
  display: flex;
  left: 0;
  top: 0;
  transition: 0.5s ease-out;
}

.signatureSlide li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  width: 300px;
}

.signatureItem button {
  color: red;
}
